.vscode/
reports/
*.log
*.tmp
.DS_Store
node_modules/
dist/
.env
*.py[cod]$
__pycache__/
*.sqlite3
*.egg-info/
build/
*.class
*.jar
*.war
*.iml
.idea/
*.swp
*~
venv[0-9]*/
.env/
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.logs
*.aux